* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans-Medium.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: OpenSans;
}

.wrapper {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
}

#header {
    max-width: 1200px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: rgba(255, 255, 255, 0.93);
    box-shadow: 0 3px 7px 2px rgba(0, 255, 119, 0.3);
    border-radius: 12px 12px 0 0;
}

.navig {
    min-height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 30px;
}

#logo{
    margin: 0 30px;
    display: flex;
    align-items: center;
    height: 70px;
    animation: fadeIn both ease 3s;
}

#logo img {
    height: 100%;
    border-radius: 25px;
}

.nav-bar {
    margin: 0 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-bar a {
    margin-bottom: 2px;
    display: inline-block;
    margin: 0 12px;
    font-size: 18px;
    font-weight: 500;
    color:rgb(0, 0, 0);
    text-decoration: none;
    transition: all ease 0.2s;
}
  
.nav-bar a::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: rgb(0, 255, 119);
    transform: scaleX(0);
    transition: all ease 0.7s;
    opacity: 0;
    box-shadow: 0 0 3px 0 rgba(0, 255, 119, 0.3);
}

.nav-bar a:hover::after {
    transform: scaleX(1);
    opacity: 1;
}

.nav-bar a:active {
    color: rgb(0, 255, 119);
}

#header hr {
    margin: 0;
    height: 3px;
    border: none;
    background: linear-gradient(to right, rgb(0, 115, 255),rgb(0, 255, 119),rgb(0, 115, 255));
}

.mobile-menu {
    width:30px;
    height:30px;
    display: none;
}

#mobile-container {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    transition: all ease 0.7s;
}

#mobile-container:target {
    visibility: visible;
    opacity: 1;
}

.mobile-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor:default;
    background-color: rgba(0, 0, 0, 0.7);
}

.mobile-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 430px;
    width: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to top, rgba(111, 162, 255, 0.93),rgba(115, 255, 180, 0.93));
    box-shadow: 0 3px 7px 2px rgba(0, 255, 119, 0.3);
    border-radius: 25px;
}

.mobile-close {
    position: absolute;
    top: 7px;
    right: 7px;
}

.mobile-close img {
    height: 40px;
    width: 40px;
    transition: all ease 0.7s;
}

.mobile-close img:hover {
    transform: rotate(90deg);
}

.mobile-nav {
    margin: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav-btn {
    margin: 7px;
}

#main-page {
    padding-top: 70px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    flex-direction: column;
}

.main-section {
    min-height:60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#main-header1 {
    width: 90%;
    margin: 12px 12px 0 12px;
    padding: 12px 12px 0 12px;
    font-size: 22px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.93);
    border-radius: 30px 30px 0 0;
    box-shadow: 0 3px 7px 2px rgba(255, 255, 255, 0.3);
}

#main-header2 {
    width: 90%;
    margin: 0 12px 12px 12px;
    padding: 12px;
    font-size: 18px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.93);
    border-radius: 0 0 30px 30px;
    box-shadow: 0 3px 7px 2px rgba(255, 255, 255, 0.3);
}

.news-wrapper {
    margin: 0 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 60vh;
    border-radius: 30px;
    background: linear-gradient(to top, rgba(111, 162, 255, 0.7),rgba(115, 255, 180, 0.7));
    box-shadow: 0px 7px 12px -3px rgba(120, 120, 120, 0.7);
}   

.news {
    height: 100%;
    width: 100%;
    overflow:auto;
    scrollbar-color:rgba(255, 255, 255, 0.7) rgba(255, 255, 255, 0);
}

.news h1 {
    text-align: center;
    font-size: 21px;
}

.article-header {
    width: 100%;
    display: flex;
    align-items:end;
}

.article-header img {
    margin: 12px 30px 12px 0;
    height: 90px;
    width: auto;
    border-radius: 20px;
}

.article-header h2 {
    margin: 12px 30px 12px 0;
    font-size: 16px;
}

.article p {
    margin-top: 7px;
}

.positions {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#positions-header {
    margin: 0;
    padding: 12px 30px;
    font-size: 18px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.93);
    border-radius: 30px;
    box-shadow: 0 3px 7px 2px rgba(255, 255, 255, 0.3);
}

.position {
    margin: 12px;
    height: 110px;
    width: 200px;
    border-radius: 20px;
    box-shadow: 0px 7px 12px -3px rgba(120, 120, 120, 0.7);
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: all ease 0.7s;
}

.position:hover {
    box-shadow: 0px 7px 12px -3px rgba(0, 255, 119, 0.7);
    transform: scale(1.1);
}

.position img {
    height: 100%;
    width: 100%;
}

.btn {
    padding: 7px 30px;
    font-size: 18px;
    border-radius: 16px;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, rgb(0, 115, 255),rgb(0, 255, 119),rgb(0, 115, 255));
    background-size: 300%;
    background-position: right;
    border: none;
    box-shadow: 0px 7px 12px -3px rgba(120, 120, 120, 0.7);
    text-decoration: none;
    transition: all ease 1.2s;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
    background-position: left;
}

.btn:active {
    background-position:center;
    background-size: 700%;
    transition: all ease 0.2s;
}

#reg-btn {
    margin: 25px;
}

#info {
    padding-top: 100px;
    min-height: 100vh;
    width: 100%;
}

#info h1 {
    padding: 12px;
    margin: 0 auto 30px auto;
    text-align: center;
    width: 90%;
    font-size: 25px;    
    text-decoration:underline rgb(0, 255, 119) 3px;
    background-color: rgba(255, 255, 255, 0.93);
    border-radius: 30px;
    box-shadow: 0 3px 7px 2px rgba(255, 255, 255, 0.3);
}

.info-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info-wrapper h2{
    text-align: center;
    font-size: 21px;
}

.info-container {
    padding: 30px;
    margin: 0 12px 30px;
    max-height: 90vh;
    width: 30%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    background: linear-gradient(to top, rgba(111, 162, 255, 0.7),rgba(115, 255, 180, 0.7));
    box-shadow: 0px 7px 12px -3px rgba(120, 120, 120, 0.7);
}

.info-text {
    height: 80%;    
    width: 100%;
    overflow: auto;
    scrollbar-color:rgba(255, 255, 255, 0.7) rgba(255, 255, 255, 0);
}

.btn-container {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info-btn {
    margin: 7px;
}

#schedule {
    padding-top: 100px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-image: url(images/bg2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 3px 7px 2px rgba(0, 255, 119, 0.3);
}

#schedule h1 {
    margin: 0 auto 30px auto;
    padding: 12px;
    width: 450px;
    text-align: center;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.93);
    text-decoration:underline rgb(0, 255, 119) 3px;
    border-radius: 30px;
    box-shadow: 0 3px 7px 2px rgba(255, 255, 255, 0.3);
}

.schedule-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.schedule-container{
    margin:0 12px 30px 12px;
    padding: 30px;
    max-height: 90vh;
    width: 30%;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 0px 7px 12px -3px rgba(120, 120, 120, 0.7);
    text-align: center;
}

.schedule-text{
    height: 100%;    
    width: 100%;
    overflow: auto;
    scrollbar-color:rgba(0, 255, 119, 0.7) rgba(255, 255, 255, 0);
}

.schedule-wrapper h2 { 
    text-align: center;
    font-size: 21px;
}

.schedule-wrapper p{
    font-size: 16px;
}

#downl-btn {
    margin-bottom: 30px;
}

#gallery {
    padding: 100px 0 30px 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#gallery h1 {
    width: 90%;
    margin:0 0 30px 0;
    padding: 12px;
    font-size: 25px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.93);
    text-decoration:underline rgb(0, 255, 119) 3px;
    border-radius: 30px;
}

#img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.small-container {
    margin: 12px;
    width: 210px;
    height: 140px;
    border-radius: 12px;
    border: solid 2px rgb(255, 255, 255);
    box-shadow: 0px 7px 12px -3px rgba(120, 120, 120, 0.7);
    overflow: hidden;
    transition: all ease 0.7s;
}

.small-container:hover {
    cursor: pointer;
    transform: translate(0, -7px) scale(1.02);
    box-shadow: 0px 7px 12px 3px rgba(120, 120, 120, 0.7);
}

.small-container img {
    height:fit-content;
    width: 100%;
}

#gallery-container {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 30;
}

@keyframes fadeIn { 
	from {
        visibility:hidden;
		opacity: 0;
	}

	to { 
        visibility:visible;
		opacity:1;
	}
}

@keyframes fadeOut { 
	from {
        visibility:visible;
		opacity: 1;
	}
	to { 
		opacity:0;
        visibility: hidden;
	}
}

#gallery-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0,0.7);
}

#gallery-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width:auto;
    display: flex;
    align-items: center;
    border-radius: 12px;
    border: solid 3px rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 12px 3px rgba(255, 255, 255, 0.3);
    overflow: hidden;
}

.gallery-window-img {
    height: 100%;
    width:auto;
}

.arrow-left {
    position: absolute;
    left: 3%;
    top: calc(50% - 25px);
    height: 50px;
    width: 50px;
    transition: all ease 0.3s;
    cursor: pointer;
}

.arrow-right {
    position: absolute;
    right: 3%;
    top: calc(50% - 25px);
    height: 50px;
    width: 50px;
    transition: all ease 0.3s;
    cursor: pointer;
}

.arrow-left:hover {
    transform: scale(1.1);
}

.arrow-right:hover {
    transform: scale(1.1);
}

.arrow-left:active {
    transform: scale(1);
}

.arrow-right:active {
    transform: scale(1);
}

.arrow-left-disabled {
    position: absolute;
    left: 3%;
    top: calc(50% - 25px);
    height: 50px;
    width: 50px;
    opacity: 0.5;
}

.arrow-right-disabled {
    position: absolute;
    right: 3%;
    top: calc(50% - 25px);
    height: 50px;
    width: 50px;
    opacity: 0.5;
}

.window-close {
    position: absolute;
    top: 12px;
    right: 12px;
    height: 40px;
    width: 40px;
    transition: all ease 0.7s;
    cursor: pointer;
}

.window-close:hover {
    transform: rotate(90deg);
}

#gal-btn {
    margin-top: 30px;
    cursor: pointer;
}

#partners {
    padding-top: 70px;
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

#partners h1 {
    font-size: 25px;
    text-decoration:underline rgb(0, 255, 119) 3px;
}

.logo-container {
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.evraz img {
    margin: 7px;
    height: 90px;
    width: 270px;
}

.it-kub img {
    margin: 12px;
    height: 100px;
    width: 90px;
}

.koin img {
    margin: 12px;
    height: 90px;
    width: 90px;
}

.minob img {
    margin-left: 12px;
    margin-right: 3px;
    height: 120px;
    width: 100px;
}

.kvant img {
    margin: 12px;
    height: 100px;
    width: 100px;
}

.meridian img {
    margin: 12px;
    height: 120px;
    width: 180px;
}

.rusal img {
    margin: 12px;
    height: 90px;
    width: 90px;
}

#contacts {
    padding: 100px 0 30px 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

#contacts h1 {
    margin: 0 0 20px 0;
    font-size: 25px;
    text-decoration:underline rgb(0, 255, 119) 3px;
}

.contacts-wrapper {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contacts-wrapper article{
    margin: 20px;
}

.map{
    border-radius: 20px;
}

.contacts-container {    
    height: 250px;
    width: 320px;
    padding: 20px;
}

.contacts-container h2 { 
    margin-bottom: 0;
    text-align: center;
    font-size: 21px;
}

.address-container {
    display: flex;
    align-items: center;
}

.address-img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.telephone-container {
    display: flex;
    align-items: center;
}

.telephone-img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.mail-container {
    display: flex;
    align-items: center;
}

.mail-img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.web-container {
    display: flex;
    align-items: center;
}

.web-img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.contacts {
    margin: 70px 20px auto;
}

.contacts h2 {
    text-align: center;
    margin: 0;
    font-size: 21px;
}

.vk{
    width: 30px;
    height: 30px;
    margin-right:30px;
    transition: all ease 0.3s;
}

.vk:hover{
    transform: scale(1.1);
}

#footer {
    height: 70px;
    width: 100%;
}

.footer-wrapper {
    padding: 30px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, rgba(111, 162, 255, 0.7),rgba(111, 255, 178, 0.7));
}

.copyright {
    transition: all ease 0.7s;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.copyright:hover {
    color: rgb(255, 255, 255);
}

#copyr-container {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    transition: all ease 0.7s;
}

#copyr-container:target {
    visibility: visible;
    opacity: 1;
}

.copyr-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor:default;
    background-color: rgba(0, 0, 0, 0.7);
}

.copyr-window {
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to top, rgba(111, 162, 255, 0.93),rgba(115, 255, 180, 0.93));
    box-shadow: 0 3px 7px 2px rgba(0, 255, 119, 0.3);
    border-radius: 25px;
}

.copyr-close {
    position: absolute;
    top: 7px;
    right: 7px;
}

.copyr-close img {
    height: 40px;
    width: 40px;
    transition: all ease 0.7s;
}

.copyr-close img:hover {
    transform: rotate(90deg);
}

.creators {
    font-size: 18px;
    overflow: auto;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -12;
    animation: fadeIn both ease 3s;
}

#bg-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 50%;
    background-image: url(images/bg.webp);
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
    background-size: 100vh;
}

#bg-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    background-image: url(images/bg.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-size: 100vh;
}

.fadeIn-animation {
    opacity: 0;
}

.fadeIn-animation-show {
    opacity: 1;
    transition: all ease 2s;
}

.slide-animation {
    transform: translateX(70px);
    opacity: 0;
}

.slide-animation-show {
    transform: translateX(0);
    opacity: 1;
    transition: all ease 2s;
}

.slide-animation-2 {
    transform: translateY(70px);
    opacity: 0;
}

.slide-animation-2-show {
    transform: translateY(0);
    opacity: 1;
    transition: all ease 2s;
}

.contact-form-open {
    position: fixed;
    z-index: 10;
    bottom: 30px;
    right: 30px;
}

.contact-form-open img {
    height: 50px;
    width: 50px;
    transition: all ease 0.7s;
}

.contact-form-open img:hover {
    transform: scale(1.1);
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    transition: all ease 0.7s;
}

#contact-form-container {
    visibility: hidden;
    opacity: 0;
}

#contact-form-container:target {
    visibility: visible;
    opacity: 1;
}

.popup-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor:default;
    background-color: rgba(0, 0, 0, 0.7);
}

.close {
    position: absolute;
    top: 7px;
    right: 7px;
}

.close img {
    height: 40px;
    width: 40px;
    transition: all ease 0.7s;
}

.close img:hover {
    transform: rotate(90deg);
}

.contact-form-window {
    position: absolute;
    height: 450px;
    width: 520px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, rgba(118, 166, 255, 0.9),rgba(123, 255, 184, 0.9));
    box-shadow: 0 3px 7px 2px rgba(0, 255, 119, 0.3);
    border-radius: 25px;
    overflow: hidden;
    scrollbar-color:rgba(255, 255, 255, 0.7) rgba(255, 255, 255, 0);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-container {
    margin: 50px 25px 7px 25px;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.input-container input {
    margin: 7px;
    height: 30px;
    width: 216px;
    border-radius: 7px;
    outline: none;
    border: solid 1px rgb(141, 141, 141);
    border-radius: 7px;
    transition: all 0.3s;
}

.input-container input:focus {
    box-shadow: 0 0px 7px 0px rgb(0, 255, 119);
}

.form textarea {
    margin: 0 25px 12px 25px;
    height: 210px;
    width: 90%;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    border: solid 1px rgb(141, 141, 141);
    border-radius: 7px;
    transition: all 0.3s;
}

.form textarea:focus {
    box-shadow: 0 0px 7px 0px rgb(0, 255, 119);
}

.contact-btn {
    height: 38px;
    width: 210px;
    border-radius: 16px;
    margin: 7px;
    border: none;
    background: linear-gradient(to right, rgb(0, 115, 255),rgb(0, 255, 119),rgb(0, 115, 255));
    box-shadow: 0px 7px 12px -3px rgba(120, 120, 120, 0.7);
    color: rgb(255, 255, 255);
    font-size: 18px;
    background-size: 300%;
    background-position: right;
    transition: all ease 1.2s;
}

.popup-btn:hover {
    cursor: pointer;
    background-position: left;
}

.popup-btn:active {
    background-position:center;
    background-size: 700%;
    transition: all ease 0.2s;
}

#success-container {
    visibility: hidden;
    opacity: 0;
}

#success-container:target {
    visibility: visible;
    opacity: 1;
}

.msg-window {
    position: absolute;
    padding: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, rgba(118, 166, 255, 0.9),rgba(123, 255, 184, 0.9));
    box-shadow: 0 3px 7px 2px rgba(0, 255, 119, 0.3);
    border-radius: 25px;
    overflow: hidden;
    scrollbar-color:rgba(255, 255, 255, 0.7) rgba(255, 255, 255, 0);
}

#error-container {
    visibility: hidden;
    opacity: 0;
}

#error-container:target {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 700px){
    .wrapper {
        background-color: rgba(255, 255, 255, 0);
        width: 100%;
        border-radius: 0;
    }

    #main-page {
        padding-top: 0;
    }

    #main-header1 {
        margin-top: 0;
        padding-top: 90px;
        font-size: 18px;
    }

    #main-header2 {
        font-size: 16px;
    }

    #header {
        width: 90%;
        border-radius: 30px 30px 0 0;
    }

    .nav-bar{
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .main-section {
        flex-wrap: wrap;
    }

    .news-wrapper {
        margin: 0;
        height: 70vh;
        width: 90%;
        background: linear-gradient(to top, rgba(111, 162, 255, 0.93),rgba(115, 255, 180, 0.93));
    }

    .news h1 {
        font-size: 18px;
    }
    
    .article-header {
        flex-wrap: wrap;
    }

    .article-header img {
        height: 70px;
        width: auto;
    }

    .positions {
        width: 90%;
        margin: 25px 0 30px 0;
    }

    #positions-header {
        margin: 12px;
    }

    #reg-btn {
        margin: 7px;
    }

    #info h1 {
        font-size: 22px;
    }

    .info-container{
        width: 90%;
        background: linear-gradient(to top, rgba(111, 162, 255, 0.93),rgba(115, 255, 180, 0.93));
    }

    .info-text h2 {
        font-size: 18px;
    }

    #schedule {
        width: 90%;
        margin: 0 auto;
        background: none;
        box-shadow:none;
    }

    #schedule h1 {
        width: 100%;
        font-size: 22px;
    }

    .schedule-container {
        width: 100%;
        margin: 0 0 30px 0;
        background-color: rgba(255, 255, 255, 0.93);
    }

    #img-container {
        width: 90%;
    }

    .small-container {
        width: 300px;
        height: 200px;
    }

    #gallery h1{
        font-size: 22px;
    }

    #gallery-window {
        width: 99%;
        height: auto;
    }

    .gallery-window-img {
        width: 100%;
    }

    .arrow-left {
        height: 30px;
        width: 30px;
    }
    
    .arrow-right {
        height: 30px;
        width: 30px;
    }

    .arrow-left-disabled {
        height: 30px;
        width: 30px;
    }
    
    .arrow-right-disabled {
        height: 30px;
        width: 30px;
    }

    #partners {
        width: 90%;
        margin: 0 auto;
        border-radius: 30px 30px 0 0;
    }

    #partners h1 {
        font-size: 22px;
    }

    #contacts {
        width: 90%;
        margin: 0 auto;
    }

    #contacts h1 {
        font-size: 22px;
    }

    .contacts-container {
        width: 90%;
        margin: 0 auto;
    }

    .contacts-container h2 {
        font-size: 18px;
    }

    .contacts {
        width: 90%;
    }

    .contacts h2 {
        font-size: 18px;
    }

    .footer-wrapper {
        background: linear-gradient(to top, rgba(111, 162, 255, 0.93),rgba(115, 255, 180, 0.93));
        width: 90%;
        margin: 0 auto;
        border-radius: 0 0 30px 30px;
    }

    .copyr-window {
        width: 90%;
    }

    #bg-left {
        width:100%;
    }

    #bg-right {
        display: none;
    }

    #bg-left {
        background-size: cover;
    }

    .contact-form-window {
        width: 90%;
    }

    .form {
        width: 90%;
    }

    .input-container {
        width: 100%;
        flex-direction: column;
    }
    
    .input-container input {
        width: 100%;
        margin: 7px 0;
    }

    .form textarea {
        height: 160px;
        width: 100%;
    }
}


@media (min-width:700px) and (max-width: 1020px){
    .wrapper {
        width: 75%;
    }

    #header {
        width: 75%;
    }

    .nav-bar{
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    #main-header {
        width: 90%;
        font-size: 22px;
    }

    .main-section {
        flex-wrap: wrap;
    }

    .news-wrapper {
        margin: 0;
        width: 90%;
    }

    .positions {
        width: 90%;
        margin: 25px 0 30px 0;
    }

    .positions h2 {
        margin: 12px;
    }

    #reg-btn {
        margin: 7px;
    }

    #info h1 {
        width: 90%;
    }

    .info-container{
        width: 90%;
    }

    #schedule h1 {
        width: 90%;
    }

    .schedule-container {
        width: 43%;
        margin:0 12px 30px 12px;
    }

    #gallery-window {
        height: 99%;
        width: auto;
    }

    .copyr-window {
        height: 70%;
        width: 70%;
    }
}

@media (min-width:700px) and (max-width: 700px){
    #header {
        width: 67.5%;
    }
}

@media (max-width: 1020px) and (orientation:landscape) {
    .mobile-window {
        max-height: 90%;
    }

    .contact-form-window {
        height: 340px;
        width: 520px;
    }

    .input-container {
        flex-direction: row;
    }

    .form input {
        margin: 7px;
        width: 216px;
    }

    .form textarea {
        height: 120px;
        width: 90%;
    }
}

@media (min-width:1020px) and (max-width: 1200px) {
    .wrapper {
        width: 75%;
    }

    #header {
        width: 75%;
    }

    .info-container{
        width: 43%;
    }

    .schedule-container {
        width: 43%
    }

    #gallery-window {
        height: 70%;
        width: auto;
    }
}

@media (min-width: 430px) and (max-width: 1200px) and (orientation:portrait) {
    #gallery-window {
        width: 90%;
        height: auto;
    }

    .gallery-window-img {
        width:100%;
    }

    .arrow-left {
        left: 7%;
        height: 30px;
        width: 30px;
    }
    
    .arrow-right {
        right: 7%;
        height: 30px;
        width: 30px;
    }

    .arrow-left-disabled {
        left: 7%;
        height: 30px;
        width: 30px;
    }
    
    .arrow-right-disabled {
        right: 7%;
        height: 30px;
        width: 30px;
    }
}

@media (min-width:1200px) and (max-width: 1600px) {
    .wrapper {
        width: 75%;
    }

    #header {
        width: 75%;
    }
}

